extends layout

block main
  h1 Select an option
  
  form(action="/setup-routine" method="post" )
    button(type="submit") Create Routine

  form(action="/routine-edit" method="get" )
    button(type="submit") Edit Routine

  form(action="/" method="get" )
    button(type="submit") Neither
 
