extends layout

block main
  h1 Edit Session

  form(action="/edit-session" method="post")
    label(for="sessionName") New Session Name
    input(type="text" id="sessionName" name="sessionName" value=oldSessionName)

    input(type="hidden" name="oldSessionName" value=oldSessionName)

    fieldset.actions
      button(type="submit") Save and Return
