extends layout

block main
  if userCurrentRoutine
    p Your Current Routine is: #{userCurrentRoutine}

  if userRoutines.length > 0
    label(for="routineName") Pick the routine you want to use:
    form(action="/routine-selection", method="post")
      select(name="routineName" id="routineName") 
        option(value="") Select a routine
        each routine in userRoutines
          // Check if the routine is the current one and add "selected" attribute
          option(value=routine.name selected=(routine.name === userCurrentRoutine))= routine.name
      button(type="submit") Confirm
  else 
    p You currently do not have a routine, go and create one.

  form(action="/routines-menu" method="get")
    button(type="submit") Back

    
