extends layout 

block main 
  p Hi there, #{username}!

  if !userCurrentRoutine
    p
      strong You need to select a routine.
  else 
    p 
      strong Current routine you are on: #{userCurrentRoutine}

  ul#lists
    li
      form(action="/setup-routine" method="POST")
        button.main-menu(type="submit") Create Routine 
    li 
      a(href="/routine-edit") Edit Routine
    li
      a(href="/routine-selection") Select Routine

  form(action="/" method="get")
    button(type="submit") Back

