extends layout

block main 
  p Select a routine to edit:

  form(action="/routine-edit", method="post")
    select(name="routineName" id="routineName") 
      option(value="") Select a routine
      each routine in userRoutines
        option(value=routine.name)= routine.name
    button(type="submit") Confirm

    
